<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='adminPanel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pyPosudePages.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
</head>
<body>
<div class="top-section">
    <!-- Left Section -->
      <div style="float: left;">
        <form method="post">
            <input type="submit" name="SbmBtn_Sync" value="Sync1" style="width: 100px; height: 30px;">
        </form>
        <br><br><br><br>
        <form method="post">
            <input type="submit" name="SbmBtn_Sync" value="Sync2" style="width: 100px; height: 30px;">
        </form>
        <form method="post">
            <input type="submit" name="SbmBtn_Sync" value="Sync" style="width: 100px; height: 30px;">
        </form>
      </div>

    <!-- Middle Section -->
    <div style="text-align: center;">
        <h1>PyFloraPosude</h1>
        <h1>Lista PyFloraPosuda</h1>
    </div>

    <!-- Right Section -->
    <div style="text-align: right;">
          <form method="post">
            <input type="submit" name="SbmBtn_UserProfile" value="{{ current_user }}">
          </form>

          <a href="{{ url_for('users.logout') }}">Logout</a>
    </div>

    <div style="clear: both;"></div> <!-- Clear floating elements -->
</div>

</body>
</html>