<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administrator Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='adminPanel.css') }}">
</head>
<body>
<div class="top-section">
    <!-- content goes here -->
    <div style="text-align: center; font-size: 12px;">
        <h1>PyFloraPosude</h1>
    </div>
    <div style="text-align: center;">
        <h1>Administrator Panel</h1>
    </div>
    <div style="text-align: right;">
        <a href="{{url_for('users.logout')}}">Press here to logout</a>
    </div>
</div>

<form method="post">
    <p>Select user:</p>
    {% for option in options %}
    <input type="radio" name="option" value="{{ option }}"
           {% if selected_option== option %}checked{% endif %}>
    {{ option }}<br>
    {% endfor %}
    <br><br>

    <input type="submit" name="SbmBtn_DeleteUser" value="Delete user.">
    <br><br>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <br>
        {{ form.username }}
        <br>
        {{ form.password }}
        <br>
        {{ form.submit }}
    </form>
</form>


</body>
</html>