img {
  width: 100%; /* set the width of the image to fill the child box */
  height: 100%; /* set the height of the image to fill the child box */
  object-fit: scale-down; /* scale the image to cover the entire child box */
}

.plant-box {
  position: absolute; top: 250px;
  position: absolute; right:250px;
  width: 500px; /* set the width of the parent box */
  height: 300px; /* set the height of the parent box */
  background-color: #fff; /* set the background color of the parent box */
  padding: 20px; /* add some padding to the parent box */
}

.plant-infos {
  position: absolute; top: 250px;
  position: absolute; left:250px;
}


.modifyPlant {
 position: relative;
  margin: 0 auto;
  width: 500px; /* set the width of the parent box */
  height: 500px; /* set the height of the parent box */
}


.modifyPLant input[type="submit"] {
  display: block;
  margin: 0 auto;
}

.plantName{
text-align: center;
}

.form-group label {
  display: inline-block;
  width: 150px; /* adjust as needed */
  margin-right: 10px; /* adjust as needed */
  text-align: right;
}
.form-group input {
  display: inline-block;
  width: 200px; /* adjust as needed */
}

.form-group-submit-buttons {
  display: block;
  width: 200px; /* adjust as needed */
  margin: 0 auto;
  position: absolute; left:225px;
}



.plant-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* adjust the min and max width to your needs */
    gap: 20px; /* adjust the gap size to your needs */
}

.plant-box2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px; /* set the width of the parent box */
  height: 400px; /* set the height of the parent box */
  background-color: #ccc; /* set the background color of the parent box */
  padding: 20px; /* add some padding to the parent box */
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.child-box {
    margin: 10px;
}

.child-box {
  margin: auto;
  border: 1px solid black;
  width: 200px; /* set the width of the child box */
  height: 300px; /* set the height of the child box */
  background-color: #fff; /* set the background color of the child box */
  padding: 10px; /* add some padding to the child box */
}

.PlusBtn{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100px;
  width:auto;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

