.parent-box {
  width: 800px; /* set the width of the parent box */
  height: 500px; /* set the height of the parent box */
  background-color: #ccc; /* set the background color of the parent box */
  padding: 20px; /* add some padding to the parent box */
}

.child-box {
  width: 600px; /* set the width of the child box */
  height: 400px; /* set the height of the child box */
  background-color: #fff; /* set the background color of the child box */
  padding: 10px; /* add some padding to the child box */
}

img {
  width: 100%; /* set the width of the image to fill the child box */
  height: 100%; /* set the height of the image to fill the child box */
  object-fit: scale-down; /* scale the image to cover the entire child box */
}

.plant-box {
  position: absolute; top: 250px;
  position: absolute; right:250px;
  width: 500px; /* set the width of the parent box */
  height: 300px; /* set the height of the parent box */
  background-color: #fff; /* set the background color of the parent box */
  padding: 20px; /* add some padding to the parent box */
}

.plant-infos {
  position: absolute; top: 250px;
  position: absolute; left:250px;
}

.modifyPLant {
 position: relative;
  margin: 0 auto;
  width: 500px; /* set the width of the parent box */
  height: 300px; /* set the height of the parent box */
}