<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administrator Panel</title>
</head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<body>
    <h1>Administrator Panel.</h1>
    <table style="width:40%">
      <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
      </tr>
      <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
      </tr>
    </table>

  <form>
    <p>Choose your choices:</p>
    {% for choice in choices %}
     <div>
       <input type="radio" id="{{ choice }}" name="fruit" value="{{ choice }}">
       <label for="{{ choice }}">{{ choice }}</label>
      </div>
  {% endfor %}
  </form>

    <form method="post">
      {% for option in options %}
        <input type="radio" name="option" value="{{ option }}"
          {% if selected_option == option %}checked{% endif %}>
        {{ option }}<br>
      {% endfor %}
      <input type="submit" value="Submit">
    </form>

<form action="/action_page.php">
  <p>Please select your favorite Web language:</p>
    <input type="radio" id="html" name="fav_language" value="HTML">
    <label for="html">HTML</label><br>
    <input type="radio" id="css" name="fav_language" value="CSS">
    <label for="css">CSS</label><br>
    <input type="radio" id="javascript" name="fav_language" value="JavaScript">
    <label for="javascript">JavaScript</label>
</form>>




</body>
</html>