<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administrator Panel</title>
</head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<body>
    <h1>PyFloraPosude - Administrator Panel.</h1>
    <a href="{{url_for('users.logout')}}">Press here to logout</a>

    <form method="post">
        <p>Select user:</p>
      {% for option in options %}
        <input type="radio" name="option" value="{{ option }}"
          {% if selected_option == option %}checked{% endif %}>
        {{ option }}<br>
      {% endfor %}
        <br><br>
        <input type="submit" name="SbmBtn_DeleteUser" value="Delete user.">
    </form>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <br>
        {{ form.username }}
        <br>
        {{ form.password }}
        <br>
        {{ form.submit }}
    </form>

</body>
</html>