<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listaPosuda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='adminPanel.css') }}">
</head>

<body>
<div class="top-section">
    <!-- content goes here -->
    <div style="text-align: center; font-size: 12px;">
        <h1>PyFloraPosude</h1>
    </div>
    <div style="text-align: center;">
        <h1>Lista Posuda</h1>
    </div>
    <div style="text-align: right;">
        <a href="{{url_for('users.logout')}}">Press here to logout</a>
    </div>
</div>

<h1>Hello you are logged in.</h1>
<a href="{{url_for('users.logout')}}">Press here to logout</a>
</body>

</html>