<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlantsList</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='adminPanel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plantPages.css') }}">
</head>

<body>

<div class="top-section">
    <!-- content goes here -->
    <div style="position: absolute; right: 20px;">
        <form method="post">
            <input type="submit" name="SbmBtn_UserProfile" value={{current_user}}
                   style="width: 100px; height: 30px;">
        </form>
    </div>
    <div style="text-align: center; font-size: 12px;">
        <h1>PyFloraPosude</h1>
    </div>

    <div style="text-align: center;">
        <h1>Lista Biljaka</h1>
    </div>
    <div style="position: absolute; right: 0;">
        <a href="{{url_for('users.logout')}}">Press here to logout</a>
    </div>

</div>

<div class="plant-grid">

    <div class="plant-box2">
        <div class="child-box">
            <h1 style="text-align: center;">Dodaj novu biljku</h1>
            <br>
            <br>
            <br>
            <div class="PlusBtn" >
                <form method="post"  style="width: 100%; height: 100%;">
                    <input style="width: 100%; height: 100%;font-size: 60px;" type="submit" name="SbmBtn_AddPlant"  value="+">
                </form>
            </div>
        </div>
    </div>

    {% for p in plantsList %}
    <div class="plant-box2">
        <div class="child-box">
            <h1>Podaci o biljci</h1>
            <h1>{{ p.name }}</h1>
        </div>
        <div class="child-box">
            <img src="{{ url_for('static', filename=p.photoURL) }}" alt={{ p.photoURL }}>
        </div>
    </div>
    {% endfor %}

</div>

</body>


</html>