<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>modifyProfile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='adminPanel.css') }}">
</head>

<body>
<div class="top-section">
    <!-- content goes here -->
    <div style="text-align: center; font-size: 12px;">
        <h1>PyFloraPosude</h1>
    </div>
    <div style="text-align: center;">
        <h1>{{current_user}}</h1>
    </div>
</div>
<div style="text-align: center;">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <br>
        {{ form.username }}
        <br>
        {{ form.password }}
        <br><br>
        {{ form.submit }}
    </form>
</div>
</body>

</html>