<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='adminPanel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plantPages.css') }}">
</head>

<div class="top-section">
    <!-- content goes here -->
    <div style="position: absolute; right: 20px;">
        <form method="post">
            <input type="submit" name="SbmBtn_UserProfile" value={{current_user}}
                   style="width: 100px; height: 30px;">
        </form>
    </div>
    <div style="text-align: center; font-size: 12px;">
        <h1>PyFloraPosude</h1>
    </div>

    <div style="text-align: center;">
        <h1>Ažuriraj biljku</h1>
    </div>
    <div style="position: absolute; right: 0;">
        <a href="{{url_for('users.logout')}}">Press here to logout</a>
    </div>

</div>
<h1>{{plantName}}</h1>

<div class="modifyPLant" >
    <form  method="POST" action="">
        {{ modifyPLantForm.name }}
        <br><br>
        {{ modifyPLantForm.photoURL }}
        <br><br>
        {{ modifyPLantForm.humidityValue }}
        <br><br>
        {{ modifyPLantForm.tempValue }}
        <br><br>
        {{ modifyPLantForm.lightValue }}
        <br><br><br><br>
        <input type="submit" name="SbmBtn_ModifyPlant" value="Modify" >
        <br><br>
        <input type="submit" name="SbmBtn_DeletePlant" value="Delete" >
    </form>
</div>

</body>

</html>