<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='adminPanel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plantPages.css') }}">
</head>

<body>

<div class="top-section">
    <!-- content goes here -->
    <div style="position: absolute; right: 20px;">
        <form method="post">
            <input type="submit" name="SbmBtn_UserProfile" value={{current_user}}
                   style="width: 100px; height: 30px;">
        </form>
    </div>
    <div style="text-align: center; font-size: 12px;">
        <h1>PyFloraPosude</h1>
    </div>

    <div style="text-align: center;">
        <h1>Biljka</h1>
    </div>
    <div style="position: absolute; right: 0;">
        <a href="{{url_for('users.logout')}}">Press here to logout</a>
    </div>

</div>

<div style="position: absolute; right: 40px; top:200px">
    <form method="post">
        <input type="submit" name="SbmBtn_ModifyPlant" value=Ažuriraj
               style="width: 100px; height: 30px;">
    </form>
</div>

<div class="plant-infos">
    <form method="POST" action="">
        <h1> {{ infos.name }} </h1>
        <br><br>
        {{ infos.photoURL }}
        <br><br>
        {{ infos.humidityValue }}
        <br><br>
        {{ infos.tempValue }}
        <br><br>
        {{ infos.lightValue }}
    </form>
</div>

<div class="plant-box" style="...">
    <img src="{{ url_for('static', filename=infos.photoURL) }}" alt="My Image">
</div>

</body>

</html>